Transport/out/
Transport/target/
Transport/.idea/**/workspace.xml
Transport/.idea/**/tasks.xml
Transport/.idea/dictionaries
Transport/.idea/**/libraries

BaseSystem/out/
BaseSystem/target/
BaseSystem/.idea/**/workspace.xml
BaseSystem/.idea/**/tasks.xml
BaseSystem/.idea/dictionaries
BaseSystem/.idea/**/libraries

AppSDK/out/
AppSDK/target/
AppSDK/.idea/**/workspace.xml
AppSDK/.idea/**/tasks.xml
AppSDK/.idea/dictionaries
AppSDK/.idea/**/libraries

APF/out/
APF/target/
APF/.idea/**/workspace.xml
APF/.idea/**/tasks.xml
APF/.idea/dictionaries
APF/.idea/**/libraries

APFCreator/out/
APFCreator/target/
APFCreator/.idea/**/workspace.xml
APFCreator/.idea/**/tasks.xml
APFCreator/.idea/dictionaries
APFCreator/.idea/**/libraries

AppManager/out/
AppManager/target/
AppManager/.idea/**/workspace.xml
AppManager/.idea/**/tasks.xml
AppManager/.idea/dictionaries
AppManager/.idea/**/libraries

build/
FmodNative/bin/
SDLNative/bin/